In [3]:
import sys
sys.path.append('../')
from data_access import read_in_data, read_llm_output_data
# api key:
# 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

In [119]:
output_data = pd.read_csv('../output/chat_gpt/output_chat_gpt.csv')

In [7]:
def calculate_acc():
    acc = []
    for j in range(3,4):
        for i in range(1,6):
            path = '../data/foofah/exp0_'+str(j) + '_'+ str(i)+'_new'+ '.txt'
            input_data, test_data = read_in_data(path)
            output_data = read_llm_output_data('../output/Llama-2-7b-chat-hf/output_data_0_'+str(j) + '_'+ str(i)+ '.json')

            #compare output_data and test_data
            acc_temp = 0
                # print(j,i)
            for k in range(min(len(output_data),len(test_data[1]))):
                for m in range(min(len(output_data[k]),len(test_data[1][k]))):
                    if output_data[k][m] == test_data[1][k][m]:
                        acc_temp += 1
            acc.append(acc_temp/(len(test_data[1])*len(test_data[1][0])))
    return(acc)

In [8]:
acc = calculate_acc()
acc

[0.08333333333333333, 0.05, 0.0625, 0.0, 0.25]

### Llama 7b chat

In [214]:
llama2_7b_chat_acc = acc
llama2_7b_chat_acc

[0.030612244897959183,
 0.0989010989010989,
 0.10714285714285714,
 0.11688311688311688,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.005494505494505495,
 0.44047619047619047,
 0.38961038961038963,
 0.38571428571428573,
 0.044444444444444446,
 0.0,
 0.1111111111111111,
 0.0,
 0.2222222222222222,
 0.03529411764705882,
 0.0,
 0.0,
 0.0,
 0.17647058823529413]

In [215]:
sum(llama2_7b_chat_acc)/len(llama2_7b_chat_acc)

0.2388125724260178

### Chat GPT Accuracy 3.5 turbo

In [8]:
chat_gpt_acc = acc
chat_gpt_acc

[0.030612244897959183,
 0.42857142857142855,
 0.42857142857142855,
 0.42857142857142855,
 0.42857142857142855,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.03571428571428571,
 0.18681318681318682,
 0.13690476190476192,
 1.0,
 1.0,
 0.06666666666666667,
 0.0,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.0,
 0.058823529411764705,
 0.11764705882352941,
 0.11764705882352941,
 0.11764705882352941]

In [157]:
sum(chat_gpt_acc)/len(chat_gpt_acc)

0.34164760776105313

### Copy code and run

In [85]:
i = 2
j = 3

In [210]:
import random
def transform_data(input_data):
    # Step 1: Remove duplicates
    unique_data = []
    for item in input_data:
        if item not in unique_data:
            unique_data.append(item)
    input_data = unique_data

    # Step 2: Replace special characters with underscores
    for i in range(len(input_data)):
        for x in input_data[i]:
            if x in ["*", " ",""]:
                input_data[i].remove(x)
    input_data = input_data

    # Step 3: Reverse the order of the items in the list
    rev_data = [item for i, item in enumerate(input_data)]
    input_data = rev_data

    # Step 4: Add a random number to each item
    for i in range(len(input_data)):
        input_data[i].append(random.randint(1, 1000))

    return input_data

In [208]:
if j == 5:
    j = 1
    i += 1
else:
    j += 1
print(i,j)

7 5

In [34]:
def transform_data(input_data):
    # Step 1: Remove duplicates
    unique_data = input_data.drop_duplicates()
    
    # Step 2: Convert dates to datetime format
    unique_data['date'] = pd.to_datetime(unique_data['date'])
    
    # Step 3: Add missing values
    unique_data['name'] = unique_data['name'].fillna('')
    unique_data['breed'] = unique_data['breed'].fillna('')
    unique_data['gender'] = unique_data['gender'].fillna('')
    unique_data['age'] = unique_data['age'].fillna(0)
    
    # Step 4: Transform categorical variables
    unique_data['category'] = unique_data['category'].apply(lambda x: x.split('/')[0])
    
    # Step 5: Create new columns for transformed variables
    unique_data['new_column'] = unique_data['category'].apply(lambda x: x.split('/')[0])
    
    return unique_data



# Step 3: Add prefix and suffix to each item
    formatted_data = ['_{}_{}'.format(prefix, x) for prefix in ['3618', '11931', 'MEQUON, WI 53092'] for x in replaced_data]
    
    return formatted_data

In [35]:
print(transform_data(test_data[0]))

[[''], [''], ['Product4'], ['Product5'], ['Product6']]
[['', '', '9/1/2008', '9/2/2008', '9/3/2008'], ['', '', '', '', ''], ['Product4', 'Product4', '1', '0', '0'], ['Product5', 'Product5', '3', '8', '7'], ['Product6', 'Product6', '9', '2', '1']]

In [211]:
path = '../data/foofah/exp0_'+ str(i) + '_'+ str(j) + '.txt'
input_data, test_data = read_in_data(path)
r = transform_data(test_data[0])
with open('../output/Llama-2-7b-chat-hf/output_data_0_'+str(i) + '_'+ str(j)+'.json', "w") as file: 
    json.dump(r, file)

In [216]:
with open('../output/Llama-2-7b-chat-hf/accuracy.json', "w") as file: 
    json.dump(acc, file)

In [36]:
path = '../data/foofah/exp0_'+ str(7) + '_'+ str(1) + '.txt'
input_data, test_data = read_in_data(path)
print(test_data[0])

[['3619', 'carroway, JIM', '', '', 'MAGGIE', '', '', '12/15/2011', '11/2/2009'], ['10484 N Sad CREEK CT', '', '', '', 'SPAYED FEMALE', '', '', '$8.00', '11/2/2012'], ['MEQUON, WI 53092', '', '', '', 'GERMAN W.H. POINTER', '', '', '$0.00', 'T M SMALL ANIMAL'], ['234234', '', '', '', 'LIVER/WHITE', '', '', 'CASH', ''], ['', '', '', '', '', '', '', '', '46327'], ['3620', 'Lepper MARY', '', '', 'MOLLY', '', '', '12/13/2011', '2/14/2011'], ['11746 N lifty LN', '', '', '', 'SPAYED FEMALE', '', '', '$8.00', '2/14/2014'], ['MEQUON, WI 53092', '', '', '', 'YORKSHIRE TERRIER', '', '', '$0.00', 'N/A'], ['234234', '', '', '', 'TAN / SILVER', '', '', '1020', ''], ['', '', '', '', '', '', '', '', '44567'], ['3621', 'Koothrapali, Rajesh', '', '', 'Cinammon', '', '', '12/14/2011', '2/7/2011'], ['12245 N lifty LN', '', '', '', 'SPAYED FEMALE', '', '', '$8.00', '6/17/2014'], ['MEQUON, WI 53092', '', '', '', 'YORKSHIRE TERRIER', '', '', '$0.00', 'N/A'], ['234234', '', '', '', 'TAN / SILVER', '', '', 'CASH', ''], ['', '', '', '', '', '', '', '', '25677'], ['3622', 'Cooper, SHELDON', '', '', 'Pistol', '', '', '12/22/2011', '5/11/2011'], ['12563 N lifty LN', '', '', '', 'SPAYED FEMALE', '', '', '$8.00', '1/8/2014'], ['MEQUON, WI 53092', '', '', '', 'GERMAN W.H. POINTER', '', '', '$0.00', 'N/A'], ['234234', '', '', '', 'LIVER/WHITE', '', '', 'CASH', ''], ['', '', '', '', '', '', '', '', '22678'], ['3622', 'Hofstader, LEONARD', '', '', 'Button', '', '', '12/8/2011', '5/25/2011'], ['12812 N lifty LN', '', '', '', 'SPAYED FEMALE', '', '', '$8.00', '4/9/2014'], ['MEQUON, WI 53092', '', '', '', 'GERMAN W.H. POINTER', '', '', '$0.00', 'N/A'], ['234234', '', '', '', 'LIVER/WHITE', '', '', 'CASH', ''], ['', '', '', '', '', '', '', '', '22678']]

In [39]:
import pandas as pd

# Third list
#data3 = [['33195', ''], ['Promotion', ''], ['2/13/2009', '821017'], ['3/30/2009', '65320'], ['', '39902']]
data3 = test_data[0]
# Convert the list to a pandas DataFrame
df3 = pd.DataFrame(data3, columns= [1,2,3,4,5,6,7,8,9])

# Display the table
print("Table 3:")
print(df3)

Table 3:
                       1                    2 3 4                    5 6 7  \
0                   3619        carroway, JIM                   MAGGIE
1   10484 N Sad CREEK CT                                 SPAYED FEMALE
2       MEQUON, WI 53092                           GERMAN W.H. POINTER
3                 234234                                   LIVER/WHITE
4
5                   3620          Lepper MARY                    MOLLY
6       11746 N lifty LN                                 SPAYED FEMALE
7       MEQUON, WI 53092                             YORKSHIRE TERRIER
8                 234234                                  TAN / SILVER
9
10                  3621  Koothrapali, Rajesh                 Cinammon
11      12245 N lifty LN                                 SPAYED FEMALE
12      MEQUON, WI 53092                             YORKSHIRE TERRIER
13                234234                                  TAN / SILVER
14
15                  3622      Cooper, SHELDON                   Pistol
16      12563 N lifty LN                                 SPAYED FEMALE
17      MEQUON, WI 53092                           GERMAN W.H. POINTER
18                234234                                   LIVER/WHITE
19
20                  3622   Hofstader, LEONARD                   Button
21      12812 N lifty LN                                 SPAYED FEMALE
22      MEQUON, WI 53092                           GERMAN W.H. POINTER
23                234234                                   LIVER/WHITE
24

             8                 9
0   12/15/2011         11/2/2009
1        $8.00         11/2/2012
2        $0.00  T M SMALL ANIMAL
3         CASH
4                          46327
5   12/13/2011         2/14/2011
6        $8.00         2/14/2014
7        $0.00               N/A
8         1020
9                          44567
10  12/14/2011          2/7/2011
11       $8.00         6/17/2014
12       $0.00               N/A
13        CASH
14                         25677
15  12/22/2011         5/11/2011
16       $8.00          1/8/2014
17       $0.00               N/A
18        CASH
19                         22678
20   12/8/2011         5/25/2011
21       $8.00          4/9/2014
22       $0.00               N/A
23        CASH
24                         22678

In [38]:
import pandas as pd

# Provided list
#data = [['33195', 'Promotion', '2/13/2009', '821017'],['33195', 'Promotion', '3/30/2009', '65320']]


data = test_data[1]
# Convert the list to a pandas DataFrame
df = pd.DataFrame(data)

# Display the table
print("Table:")
print(df)

Table:
     0                    1         2           3          4   \
0  3619        carroway, JIM    MAGGIE  12/15/2011  11/2/2009
1  3620          Lepper MARY     MOLLY  12/13/2011  2/14/2011
2  3621  Koothrapali, Rajesh  Cinammon  12/14/2011   2/7/2011
3  3622      Cooper, SHELDON    Pistol  12/22/2011  5/11/2011
4  3622   Hofstader, LEONARD    Button   12/8/2011  5/25/2011

                     5              6      7          8                 9   \
0  10484 N Sad CREEK CT  SPAYED FEMALE  $8.00  11/2/2012  MEQUON, WI 53092
1      11746 N lifty LN  SPAYED FEMALE  $8.00  2/14/2014  MEQUON, WI 53092
2      12245 N lifty LN  SPAYED FEMALE  $8.00  6/17/2014  MEQUON, WI 53092
3      12563 N lifty LN  SPAYED FEMALE  $8.00   1/8/2014  MEQUON, WI 53092
4      12812 N lifty LN  SPAYED FEMALE  $8.00   4/9/2014  MEQUON, WI 53092

                    10     11                12      13            14    15  \
0  GERMAN W.H. POINTER  $0.00  T M SMALL ANIMAL  234234   LIVER/WHITE  CASH
1    YORKSHIRE TERRIER  $0.00               N/A  234234  TAN / SILVER  1020
2    YORKSHIRE TERRIER  $0.00               N/A  234234  TAN / SILVER  CASH
3  GERMAN W.H. POINTER  $0.00               N/A  234234   LIVER/WHITE  CASH
4  GERMAN W.H. POINTER  $0.00               N/A  234234   LIVER/WHITE  CASH

      16
0  46327
1  44567
2  25677
3  22678
4  22678

In [28]:
output_data = read_llm_output_data('../output/chat_gpt/new_output_data_0_'+str(6) + '_'+ str(4)+ '.json')
df = pd.DataFrame(output_data)

# Display the table
print("Table:")
print(df)

Table:
          0         1  2
0  9/1/2008
1  9/2/2008
2  9/3/2008
3  9/1/2008  Product5  3
4  9/2/2008  Product5  8
5  9/3/2008  Product5  7
6  9/1/2008  Product6  9
7  9/2/2008  Product6  2
8  9/3/2008  Product6  1